body{
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;
    background-color: #303030;
}

#section1{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #303030;
    background-size: cover;
}

#background{
    margin-left: 25%;
    border-radius: 20px;  
}

#language{
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
}

#text{
    position: absolute;
    color: white;
    width: 600px;
    height: 300px;
    text-align: left;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -18%;
    margin-left: 35%;
    background: rgba(101,31,255,.7);
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.content{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #303030;
}

#profile{
    position: absolute;
    margin-left: 53%;
    margin-top: -90px;
}

#linkedin{
    position: absolute;
    margin-left: 40%;
}

#github{
    position: absolute;
    margin-left: 35%;
}

#cv{
    position: absolute;
    margin-left: 30%;
    margin-top: 6px;
}


.projects{
    margin-top: -15%;
    position: relative;
    width: 100%;
    height: 1550px;
    background-color: #303030;
}

#title{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.projects p{
    text-align: center;
    color: white;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.projects img{

    text-align: center;
    margin-left: 60%;
}

#landingText{
    position: absolute;
    margin-left: 40%;
    margin-top: -10%;
    font-family: Arial, Helvetica, sans-serif;
}

#cbankText{
    position: absolute;
    margin-left: 40%;
    margin-top: -12%;
    font-family: Arial, Helvetica, sans-serif;
}

#nutriText{
    position: absolute;
    margin-left: 40%;
    margin-top: -10%;
    font-family: Arial, Helvetica, sans-serif;
}

.skillsSection{
    margin-top: -20%;
    margin-bottom: 10%;
    position: relative;
    width: 100%;
    height: 500px;
    color: white;
    background-color: #303030;
    font-family: Arial, Helvetica, sans-serif;
}

.skillsSection p{
    margin-left: 41%;
}

.skillsSection h1, h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#androidText{
    position: absolute;
    margin-left: 40%;
    margin-top: -10%;
    font-family: Arial, Helvetica, sans-serif;
}

* {box-sizing:border-box}

.container {
    margin-left: 41%;
  width: 35%; 
  background-color: #ddd; 
  border-radius: 50px;
}

.skills {
    border-radius: 50px;
  text-align: right; 
  padding-top: 5px; 
  padding-bottom: 4px; 
  color: white; 
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10px;
}

.html {width: 50%; height: 5px; font-family: Arial, Helvetica, sans-serif; background-color: #651FFF;}
.css {width: 50%; height: 5px; font-family: Arial, Helvetica, sans-serif; background-color: #651FFF;} 
.js {width: 25%; height: 5px; font-family: Arial, Helvetica, sans-serif; background-color: #651FFF;} 
.sql {width: 50%; height: 5px; font-family: Arial, Helvetica, sans-serif; background-color: #651FFF;} 
.java {width: 50%; height: 5px; font-family: Arial, Helvetica, sans-serif; background-color: #651FFF;} 

.teste{
    border: 1px solid #651FFF;
    border-radius: 50px;
}

.footer{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(101,31,255,.7);
    height: 150px;
    padding: 15px;

}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }